.header_top {
    background-color: $header_top_color;
    overflow: hidden;
    .inner_header_top {
        overflow: hidden;
        height: 50px;
        padding: 9px 0;
    }
}

.icon {
    float: left;
    ul {
        margin-bottom: 0;
        li {
            height: 32px;
            width: 32px;
            display: inline-block ;
            padding: 7px;
            background-color: white;
            border-radius: 50%;
            margin-right: 10px;
            position: relative;
            a {
                color: #2a2a2a;
                display: block;
                position: absolute;
                top: 3px;
                left: 8px;
            }
            
        }
    }
}

.menu_bar {
    float: right;
    margin-top: 3px;
    height: 32px;
    overflow: hidden;
    ul {
        li {
            display: inline-block;
            position: relative;
            padding-left: 10px;
            padding-right: 4px;
            a {
                color: #ffffff;
                display: block;
            }
            &::after {
                content: "";
                width: 1px;
                height: 16px;
                top: 7px;
                left: 0;
                background-color: #ffffff;
                position: absolute;
            }
            
            &:first-child::after {
                display: none;
            }

        }
    }
}